Source: ros-kilted-rtabmap-util
Section: misc
Priority: optional
Maintainer: Mathieu Labbe <matlabbe@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-cv-bridge, ros-kilted-image-transport, ros-kilted-laser-geometry, ros-kilted-message-filters, ros-kilted-nav-msgs, ros-kilted-octomap-msgs, ros-kilted-pcl-conversions, ros-kilted-pcl-ros, ros-kilted-rclcpp, ros-kilted-rclcpp-components, ros-kilted-ros-environment, ros-kilted-rtabmap-conversions, ros-kilted-rtabmap-msgs, ros-kilted-sensor-msgs, ros-kilted-std-msgs, ros-kilted-stereo-msgs, ros-kilted-tf2, ros-kilted-tf2-geometry-msgs, ros-kilted-tf2-ros, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-rtabmap-util
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-cv-bridge, ros-kilted-image-transport, ros-kilted-laser-geometry, ros-kilted-message-filters, ros-kilted-nav-msgs, ros-kilted-octomap-msgs, ros-kilted-pcl-conversions, ros-kilted-pcl-ros, ros-kilted-rclcpp, ros-kilted-rclcpp-components, ros-kilted-rtabmap-conversions, ros-kilted-rtabmap-msgs, ros-kilted-sensor-msgs, ros-kilted-std-msgs, ros-kilted-stereo-msgs, ros-kilted-tf2, ros-kilted-tf2-geometry-msgs, ros-kilted-tf2-ros, ros-kilted-ros-workspace
Description: RTAB-Map's various useful nodes and nodelets.
