Source: ros-lyrical-rtabmap-conversions
Section: misc
Priority: optional
Maintainer: "Mathieu Labbe" <matlabbe@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake, ros-lyrical-cv-bridge, ros-lyrical-geometry-msgs, ros-lyrical-image-geometry, ros-lyrical-laser-geometry, ros-lyrical-pcl-conversions, ros-lyrical-rclcpp, ros-lyrical-rclcpp-components, ros-lyrical-ros-environment, ros-lyrical-rtabmap, ros-lyrical-rtabmap-msgs, ros-lyrical-sensor-msgs, ros-lyrical-std-msgs, ros-lyrical-tf2, ros-lyrical-tf2-eigen, ros-lyrical-tf2-geometry-msgs, ros-lyrical-tf2-ros, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/rtabmap_conversions/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-rtabmap-conversions
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-cv-bridge, ros-lyrical-geometry-msgs, ros-lyrical-image-geometry, ros-lyrical-laser-geometry, ros-lyrical-pcl-conversions, ros-lyrical-rclcpp, ros-lyrical-rclcpp-components, ros-lyrical-rtabmap, ros-lyrical-rtabmap-msgs, ros-lyrical-sensor-msgs, ros-lyrical-std-msgs, ros-lyrical-tf2, ros-lyrical-tf2-eigen, ros-lyrical-tf2-geometry-msgs, ros-lyrical-tf2-ros, ros-lyrical-ros-workspace
Description: RTAB-Map's conversions package.
 This package can be used to convert rtabmap_msgs's msgs into RTAB-Map's library objects.
